.pingjia{
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    /* background-color: blue; */
    float: left;
}

.value{
    width: 100%;
    margin: 0 auto 10px auto;
    border: 1px solid #cce8ff;
    padding: 1px;
    background-color: #FFFFFF;
    height: 50px;
}

.td1{
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    background-color: #EEF6FF;
    text-align: left;
    padding: 6px 10px;
}

/* 表单 */